/* -------------------------------------------------------*/
/* Tile Layouts                                           */
/* Important - must come after colors for the Landscape   */
/*    Subpanes to work                                    */
/* -------------------------------------------------------*/
// @kshuntley - kenneth.huntley@tafensw.edu.au
// 12/01/2018 10:45

@import (once) "variables.less";
@import (once) "colors.less";
@import (once) "mixins.less";

.@{url-prefix} {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.@{layout-prefix} {
	&-portrait {
		width: 150px;
		height: 180px;
		div {
			margin: 7px;
		}
		.@{url-prefix} {
			width: 150px;
			height: 180px;
		}
	}
	
	&-portrait-160 {
		width: 132px;
		height: 160px;
		div {
			margin: 7px;
		}
		.@{url-prefix} {
			width: 132px;
			height: 160px;
		}
	}

	&-portrait-200 {
		width: 150px;
		height: 200px;
		div {
			margin: 7px;
		}
		.@{url-prefix} {
			width: 150px;
			height: 200px;
		}		
	}
	
	&-portrait-216 {
		width: 180px;
		height: 216px;
		div {
			margin: 7px;
		}
		.@{url-prefix} {
			width: 180px;
			height: 216px;
		}		
	}	
	
	&-portrait-220i {
		width: 200px;
		height: 220px;
		div {
			margin: 7px;
		}
		img {
			position: absolute;
			bottom: 0;
		}
		.@{url-prefix} {
			width: 200px;
			height: 220px;
		}
	}	

	&-portrait-220 {
		width: 150px;
		height: 220px;
		div {
			margin: 7px;
		}
		img {
			position: absolute;
			bottom: 0;
		}
		.@{url-prefix} {
			width: 150px;
			height: 220px;
		}
	}

	&-large-portrait {
		width: 180px;
		height: 270px;
		div {
			margin: 7px;
		}
		img {
			position: absolute;
			bottom: 0;
		}
		.@{gobtn-prefix} {
			bottom: 185px;
			right: 10px;
		}
		.@{url-prefix} {
			width: 180px;
			height: 270px;
		}		
	}

	&-pathway {
		height: 159px;
		font-size: .8em;
		img {
			float: left;
			margin: 0 .5em 0 0;
		}
		a {
			&:link {
				text-decoration: none;
			}
			&:visited {
				text-decoration: none;
			}
			&:hover {
				text-decoration: none;
			}
			&:active {
				text-decoration: none;
			}
		}
		h5 {
			padding: 1em;
			text-shadow: none;
			text-decoration: none;
		}
	}
}